<h2>Tasks to do:</h2>
<ul>
  {{#each todo}}
    {{#unless done}}
      {{#if done=false}}
        {{>todos/todos-block done=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Finished Tasks</h2>
<ul>
  {{#each todo}}
    {{#unless done}}
        {{>todos/todos-block done=true}}
    {{/unless}}
  {{/each}}
</ul>